<div>
    <h1>Product register</h1>
    <form action="/products" method="POST">
        <label for="title">title</label>
        <input type="text" name="title" id="title">
        <label for="description">description</label>
        <input type="text" name="description" id="description">
        <label for="code">code</label>
        <input type="text" name="code" id="code">
        <label for="status">status</label>
        <input type="text" name="status" id="status">
        <label for="stock">stock</label>
        <input type="number" name="stock" id="stock">
        <label for="category">category</label>
        <input type="text" name="category" id="category">
        <label for="thumbnails">thumbnails</label>
        <input type="text" name="thumbnails" id="thumbnails">
        <button type="submit">SEND</button>
    </form>
</div>
